extends main

block content
  .search
    h1 길찾기 서비스
    #search
        .search-form 
            input.text-search(type="text" placeholder="주소를 입력해주세요")
            input.btn-search(type="button", value="검색")
        .search-result
