doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0')
    title goboX For MAP
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #map
    a.btn_menubar="<"
    .menu
      .logo
        i.icon.icon-mapBox.ir_pm goBox아이콘
        h1.tit
          | goboX 
          strong MAP
      // /.search
      .driving
        form#driving(action='/post/driving' method='post' enctype='multipart/form-data' )
          .start
            label(for='start') 출발지
            input#start(type='text', name='start', placeholder='출발지를 검색후 선택해주세요')
            input#start-x.x(type='hidden', name='start_x')
            input#start-y.y(type='hidden', name='start_y')
          .waypoints
            //- .way1
            //-   label(for='way') 경유지1
            //-   input#way1(type='text', name='way', placeholder='경유지를 검색후 선택해주세요')
            //-   input#btn_remove(type='button' name="removeWay" value="X")
            //-   input#way1-x.x(type='hidden', name='way_x')
            //-   input#way1-y.y(type='hidden', name='way_y')
          .end
            label(for='start') 도착지
            input#goal(type='text', name='goal', placeholder='도착지를 검색후 선택해주세요')
            input#goal-x.x(type='hidden', name='goal_x')
            input#goal-y.y(type='hidden', name='goal_y')
          .option
            input#option1(type="radio", name="option", value="trafast"  checked="checked")
            label(for="option1") 빠른길
            input#option2(type="radio", name="option", value="tracomfort")
            label(for="option2") 편할길
            input#option3(type="radio", name="option", value="traoptimal")
            label(for="option3") 최적
            input#option4(type="radio", name="option", value="traavoidtoll")
            label(for="option4") 무료우선
          .submit
            input.btn_waypoints(type='button', value='경유지 추가')
            input(type='submit', value='경로 탐색')
      // ./driving
      .result
        .search_result
          .search_gc.search_block
            .search_info.info
              h2 주소로 검색한 결과
              h3
                em.search_info_hash 오산역
                | 으로 검색하셨습니다.
              p
                | 검색결과 
                em.search_info_cot 0
                | 개의 주소가 검색되었습니다.
            #result_gc.post_result

          .search_sp.search_block
            .search_info.info
              h2 장소로 검색한 결과
              h3
                em.search_info_hash 오산역
                | 으로 검색하셨습니다.
              p
                | 검색결과 
                em.search_info_cot 0
                | 개의 주소가 검색되었습니다.
            #result_sp.post_result
          
        .driving_result
          .driving_info.info
            h2.time 30분
            h3.distance 19km
          #driving_result
      // ./result
    #history
      a(href="./history") 검색기록

    script(src='./javascripts/script.js')
    script(src="//dapi.kakao.com/v2/maps/sdk.js?appkey=29990cd8562f3b509dcd2c4811bd9e6e&libraries=services")
    script(src="./javascripts/daumAPI.js")
