doctype html
html
  head
    title 길찾기
    meta(name='viewport' content='width=device-width, height=device-height,user-scalable=no')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    #map
    .search
        h1 길찾기
        #search
            form#driving(action='/post/driving' method='post' enctype='multipart/form-data')
                .start
                    input#start(type="text" name="start" readonly)
                    input#start-x(type="hidden" name="start_x" )
                    input#start-y(type="hidden" name="start_y" )
                .goal
                    input#goal(type="text" name="goal" readonly)
                    input#goal-x(type="hidden" name="goal_x" )
                    input#goal-y(type="hidden" name="goal_y" )
                .submit
                    input(type="submit", value="길찾기")
            .search-form 
                input.text-search(type="text" placeholder="주소를 입력해주세요")
                input.btn-search(type="button", value="검색")       
            .search-result
            

    
    script(src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=j4pi7zx94n")
    script(src="/javascripts/staticMap.js")
    script(src="/javascripts/buttonAction.js")
     
     