.modal-layer {
    overflow-y: scroll;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 501;
    background-color: rgba(0,0,0,.7);
}
.modal-layer .left {float: left;}
.modal-layer .right {float: right;}
.modal-layer .input-text {
    display: inline-block;
    width: 100%;
    height: 32px;
    padding: 0 10px;
    line-height: 30px;
    color: #444;
    border: 1px solid #d8d9db;
    vertical-align: middle;
    font-family: '돋움',sans-serif;
    border-radius: 0;
}
.modal-layer .wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    padding: 45px 15px 20px;
    box-shadow: 2px 2px 6px 2px rgba(0,0,0,.1);
    background: #fff;
    height: 360px;
    transform: translate(-50%, -50%);
}
.layer-header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f4511e;
    width: 100%;
    height: 45px;
}
.layer-header h3.tit {
    color: #fff;
    padding: 15px 20px 0 20px!important;
    font-size: 1.2em;
    line-height: 1.1;
}
.modal-layer .tit:after, .modal-layer .tit:before {
    content: '';
    display: block;
    clear: both;
}
.modal-layer .wrap .layer-con {
    overflow-y: auto;
    background-color: #fff;
    padding: 20px 20px 0 20px;
}
.login-member {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
#layer_login .col {
    width: 380px;
}
.login-member.col {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.login-input-area .input-text {
    display: block;
    width: 100%;
    height: 46px;
}
.mt15 {
    margin-top: 15px!important;
}
.login-input-area .chk-util {
    overflow: hidden;
    padding: 15px 0 35px 0;
}
.button.purple.large {
    line-height: 46px;
}

.login-input-area .button[disabled] {
    color: #777!important;
    cursor: default!important;
    background-color: #e0e0e0!important;
    border-color: #e0e0e0!important;
    border: 0;
    border-radius: 4px;
}
.login-input-area .btn-login {
    display: block;
    width: 100%;
}
.login-input-area .link {
    text-align: center;
    line-height: 1.1;
}
.login-input-area .link a {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-left: 10px;
    padding: 0;
    font-size: .9333em;
    color: #666;
}
.modal-layer .wrap .btn-modal-close {
    display: block;
    position: absolute;
    color: #fff;
    font-size: 1.6rem;
    background-color: transparent;
    text-align: center;
    line-height: 30px;
    top: 10px;
    right: 20px;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: 0;
}