* {padding: 0; margin: 0; box-sizing: border-box;}
.wrap {
    box-sizing: border-box;
    width: 20vw;
    height: 100vh;
    margin: 0;
}
h1 { text-align: center; font-size: 3rem; }
.search {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 25vw;
    max-width: 320px;
    height: 100vh;
}
#driving {
    padding: 20px 10px 80px;
}
#driving input[type=text] {
    width: 100%;
    height: 3rem;
}
#driving input[type=submit] {
    border-color: #0475f4;
    background-color: #0475f4;
    color: #fff;
    float: right;
    margin-top: 10px;
    padding: 8px 12px;
    font-weight: 500;
    font-size: 14px;
}
.search-form {
    width: 100%;
}

.search-form input[type=text] {
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    padding: 10px;
}
td.pos {display: none;}
#map {width: 100vw; height: 100vh;}
.search-result {

    padding: 20px 8px;
}
tr {
    display: block;
    padding: 10px;
    position: relative;
    border: 1px solid #666;
    margin-bottom: 10px;
    border-radius: 8px;
}
td {
    display: block;
    width: 100%;
}
.btn-start {
    position: absolute;
    right: 5px;
    top: 10px;
}
.btn-goal {
    position: absolute;
    right: 5px;
    top: 33px;
}
.btn-search {
    width: 100%;
    height: 3vh;
}